*{
    margin: 0%;
    padding: 0%;
    font-family:  'Afacad Flux', sans-serif;
    color: white;
}

body{
    background-color: #1F1F1F;
}

h1{
    font-size: 3rem;
}

/* header section */

.hero-section{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
}

.img-container{
    background-color: #1F1F1F;
    max-width: 300px; 
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: solid 2px white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.downloadCV{
    padding: 12px 24px;
    background-color: #2A2A2A;
    border-radius: 5px;
    max-width: 200px;
    aspect-ratio: 1/0;
    text-decoration: none;
    font-weight: bolder;
    border: solid .5px white;
    
}

.arrow-down{
    font-size: 40px;  
    text-align: center;
    margin: 20px;    
}


/*  about */



.article-section{
    display: flex;
    min-height: 60vh;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap:50px;
    text-align: left;
    flex-wrap: wrap;
    border-bottom: 0.5px solid gray;
    margin: auto 10%;
}


.article-section > div{
    min-width: 400px;
}

.article-section > div:first-child{
    width: 100%;
    max-width:260px;
    min-width: 150px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 3px solid gray;
}

.article-section > div:first-child img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article-section > div:nth-child(2){
    max-width: 650px;
    min-width: 320px;
    margin-bottom: 50px;
    font-size: larger;
    text-align: justify;
    color: #ECECEC;
    padding: 30px;

}

.article-section > div:nth-child(2) p {
    text-indent: 40px;
}

/* education section */
.education-section{
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.school-container{
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem 2rem;
}

.school-container > div{
    width: 100%;
    max-width: 320px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
}


.school-img-cont{
    width: 100%;
    max-width: 150px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid gray;

}

.school-img-cont img{
    width: 100%;
    height: 100%;
    background-color: white;
    object-fit: contain;
}

/* skills section */

.skills-section{
    text-align: center;
    min-height: 70vh;
}

.skills-container{
    display: flex;
    width: 100%;
    max-width: 80%;
    min-height: 40vh;
    max-height: 40vh;
    margin: 5% auto;
}

.header-side{
    width: 100%;
    max-width: 20%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.header-side h1{
    writing-mode: vertical-lr; 
    text-orientation: upright; 
    margin: 0;
    padding: 10px; 
    letter-spacing: 5px; 
    font-size: 24px;
}

.skill-details{
    width: 100%;
    min-width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: 3%;
}

.skill-contents{
    display: flex;
    border-bottom: 0.5px solid gray;
    margin-left: 2%;
    min-width:70%;
    overflow: auto hidden;
    min-height: 80px;
}

.skill-details h1{
    display: flex;
    justify-content: left;
    font-size: larger;
    margin-left: 2%;
}

.skill-label {
    display: none;
    position: absolute;
    bottom: -20px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px; 
}

.skill-item {
    position: relative;
    margin: 10px; 
    transition: transform 0.3s; 
}

.skill-item img {
    max-width: 60px; 
    aspect-ratio: 1/1;
    transition: transform 0.3s; 
}

.skill-item:hover img {
    transform: scale(1.2); 
}

.skill-item:hover .skill-label {
    display: block; 
}

/* experience */

.experiences{
    margin: 5% auto;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work-container{
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem 2rem;
}

.work-container > div{
    width: 100%;
    max-width: 320px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
}

.work-container > div:nth-child(2){
    min-width: 400px;
    gap: 1rem;
}

.work-img-cont{
    width: 100%;
    max-width: 150px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid gray;

}

.work-img-cont img{
    width: 100%;
    height: 100%;
    background-color: white;
    object-fit: contain;
}

/*  Project Sectio  */


.projects-section{
    text-align: center;
    min-height: 100vh;
}

.project-container{
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    min-width: 300px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    min-height: 200px;
}


.project-container p{
    font-size: large;
}

.project-container > div{
    min-width: 320px;
}


.project-container > div:first-child{
    min-width: 320px;
    max-width: 400px;
    text-align: justify;
}

.project-container > div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    max-width: 600px;
}

.project-body ul{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    padding: 5px;
    margin-top: 5px;
}

.project-body ul li{
    list-style: none;
    background-color: gray;
    padding: 2px 15px;
    border-radius: 15px;
}

.project-img{
    width: 100%;
    max-width: 150px;
    min-height: 50px;
    max-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: 0.5px solid white;
    overflow: hidden;
}

.project-img img{
    width: 100%;
    height: auto;
    object-fit: cover;

}


/* Gallery */

.gallery-section{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gallery-section h1{
    padding: 20px;}

.gallery-container{
    max-width: 1000px;
    min-width: 320px;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 10% 90%,
        transparent
    );
}

.project-gallery-img{
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}

.project-body p:first-of-type{
    padding: 10px;
}

.project-gallery-img .item{
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 6s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc((6s / var(--quantity))*(var(--position) - 1));
}

.project-gallery-img .item img{
    width: 100%;
}

@keyframes autoRun{
    from{
        left:100%;
    }to{
        left: calc(var(--width) * -1);
    }
}


.gallery-container:hover .item{
    animation-play-state: paused!important;
    filter: grayscale(1);   
}

.gallery-container .item:hover{
    filter: grayscale(0);
}








/* */
.reach{
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;

}

.email{
   margin-bottom: 3%;
}

#scrollTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background: transparent; 
    color: white;
    border: none;
    padding: 15px;
    border-radius: 50%; 
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out; 
    font-size: 18px;
    outline: none;
}



.plug-side{
    width: 100%;
    max-width: 2%;
    position: fixed;
    bottom: 0%;
    margin-left: 2%;
    height: 20%;
    background-color: transparent;

}

.icon-container{
    width: 100%;
    height: auto;
}

.icon-container img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.line{
    margin: auto;
    width: 0.5%;
    background-color: white;
    height: 100%; 
    max-height: 70%;
}

footer{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(48, 47, 47);
    width: 100%;
}




/* Media query for mobile phones */
@media (max-width: 480px), (max-height: 600px) {

    .work-container > div:nth-child(2){
        min-width: 320px;
        gap: 1rem;
    }

    .education-section{
        margin-top: 30%;
    }

    .header-side{
        display: none;
    }

    .school-container{
        border-bottom: 0.5px solid gray;
    }

    .work-container{
        border-bottom: 0.5px solid gray;
    }

    .experiences{
        margin-bottom: 10%;
    }

    .plug-side{
        display: none;
    }

    .skills-section{
        min-height: 60vh;
        margin-bottom: 10%;
    }

    .email{
        margin-bottom: 10%;
    }


    .skills-header{
        margin-bottom: 15%;
    }

    .gallery-container{
        max-width: 400px;
    }
}

